@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root {
  --main: #ff0000;
  --boxShadow: 0 8px 32px 0 rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel Decorative", system-ui;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  transition: 0.2s ease-in;
}

*::selection {
  background: var(--main);
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
}

::-webkit-scrollbar-track {
  background: #000;
}