.InputBox {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.InputBox label {
    font-weight: 700;
    font-size: 1rem;
    display: block;
    margin-bottom: 8px;
}

.InputBox input,
.InputBox textarea {
    width: 550px;
    /* Fixed width of 600px on larger screens */
    padding: 12px 14px;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #000;
    margin-top: 8px;
    box-sizing: border-box;
}

/* Responsive Styles */
@media (max-width: 790px) {

    .InputBox input,
    .InputBox textarea {
        width: 100%;
        /* Full width for smaller screens */
        max-width: 400px;
        /* Maximum width for screens smaller than 790px */
        font-size: 0.85rem;
    }

    .InputBox textarea {
        height: 10rem;
    }
}

@media (max-width: 590px) {
    .InputBox label {
        font-size: 0.8rem;
    }

    .InputBox input,
    .InputBox textarea {
        width: 100%;
        /* Full width for very small screens */
        max-width: 300px;
        /* Maximum width for screens smaller than 590px */
        font-size: 0.8rem;
    }

    .InputBox textarea {
        height: 8rem;
    }
}